* { margin:0; padding:0 }
a { text-decoration: none; color: #ffffff; }

header, nav, main, aside, footer, section, article {
	display:block;
}

html {
	height: 100%;
}

body {
	background-color: #c3d4e3;
	color: #ffffff;
	height: 100%;
	overflow: hidden;
}

#wrapper {
	overflow: hidden;
}

aside {
	width: 100px;
	transition: 1s;
	position: absolute;
	left: -10px;
	top: 30px;
	background-color: rgba(255, 255, 255, 0.3);
	border: 3px solid rgba(0, 0, 100, 0.5);
	border-radius: 10px;
	padding: 5px;
	z-index: 9999;
}

aside button {
	width: 90%;
	display: block;
	float: right;
}
.hidden {
	left: -120px;
}

.clear {
	clear: both;
}

#mouseArea {
	width: 300px;
	height: 100%;
	position: absolute;
	left: 0px;
	top: 0px;
}